body {
  padding-top: 15vh;
  background-color: #16161a;
  color: #fffffe;
  text-align: center;
  overflow: hidden;
}

button {
  border: none;
  padding: 15px;
  background-color: transparent;
  border: 2px solid #fffffe;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s ease-out;
}

button:focus {
  outline: none;
}

button:active {
  border-radius: 12px;
}

button:not(:last-of-type) {
  margin-right: 5px;
}

h1 {
  margin: 0;
}

.blood-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #dc143c;
  transition: .3s ease-out;
  z-index: -1;
}

.blood-container svg {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  
}